*{
  margin: 0px;
  padding: 0px;
}

.main-container{
  margin: 0px 3rem ;

  
}

.project-container{
  margin: 0px 40px;
}
.card-img{
  /* min-width: 380px;
  max-width: 380px;
  min-height: 250px;

  max-height: 250px;
  object-fit: cover; */
  
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
}
h1{
  margin: 10px 20px;
  opacity: 80%;
  font-weight: 700;
  font-size:large;
}
p{
  margin:0px 20px 40px 20px;
  opacity: 70%;
}