* {
  margin: 0px;
  padding: 0px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-container {
  margin: 0px 3rem;


}

.project-container {
  margin: 0px 40px;
  flex-wrap: wrap;
}

.cards {
  min-width: 28%;
  overflow: hidden;
  border: 1px solid rgb(188, 185, 185);
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 30%;
  animation: fadeInUp 1s forwards;

}


.card-img>img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

}

.cards:hover .card-img img {
  transform: scale(1.1);
  /* Slight zoom inside */
}


.card-h {
  margin: 20px;
  opacity: 80%;
  font-weight: 700;
  font-size: large;
}

.card-p {
  margin: 0px 20px 40px 20px;
  opacity: 70%;
  font-size: 1.1rem;
}