* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 5px 12.5px;
  position: sticky;
  z-index: 1000;
  top: 0;
}

@media(min-width:640px) {
  nav {
    padding: 15px 25px;
  }
}

@media(min-width:768px) {
  nav {
    padding: 20px 50px;

  }
}







/* #nav> li{
   list-style: none;
  text-decoration: none;
 } */
a {
  text-decoration: none;
  /* color: rgb(255, 255, 255); */
  display: flex;
}

a:hover {
  color: rgb(149, 130, 217);
}

.active {
  color: rgb(94, 94, 253);
}